html{
    height: 100%;
} 

body {
    margin: 0;
    height: auto;
    text-align: center;
    color: rgb(243, 243, 243);
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right, #357296, #0d1b24);
}

.button-container {
    padding-bottom: 1%;
}

.social-button {
    width: 50px;
    height: 50px;
    overflow: hidden; 
    border-radius: 50%;
    align-items: center;  
    display: inline-flex;  
    justify-content: center; 
    background-color: #ffffff;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.social-button:hover {
    transform: scale(1.1);
}

.social-button img {
    width: 60%;  
    height: 60%;
    object-fit: contain;
}

ul{
    padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: column;
}

.linktree-anchor {
    height: 3rem;
    width: 25%;
    margin: 1rem;
    display: flex;  
    color: #3c73ae;
    overflow: hidden;
    padding: 8px 12px;
    border-radius: 10px;
    align-items: center;  
    text-decoration: none;
    justify-content: center; 
    background-color: #ffffff;
    transition: transform 0.2s ease-in-out;
    box-shadow: 10px 10px 0px #428eb9;
}


.linktree-anchor:hover{
    color: white;
    transform: scale(1.2);
    background-color: #5ac2ff;
}


.mei_icon{
    height: 2rem;
    margin-right: 5px;
}