body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #FFF0F5;
    color: #5B4F5B;
}
nav {
    background-color: #FFB6C1;
    padding: 15px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #FBA1B4;
}
nav a {
    color: white;
    margin: 0 15px;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 10px;
    border-radius: 50px;
    transition: background-color 0.2s ease
}
nav a:hover {
    color: #FFF0F5;
    text-decoration: none;
    background-color: #D672AD;
}
h1 {
    font-size: 38px;
    font-weight: 700;
    color: #D672AD;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}
h2 {
    font-weight: 600;
    color: #E089B6;
}
.bio, .sinopsis-paragraph, .trivia {
    max-width: 70%;
    margin: 25px auto;
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
    padding: 25px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(214, 114, 173, 0.2);
    border: 1px solid #FADADD;
}
.result-message {
    text-align: center;
    max-width: fit-content;
}
.header-img, .show-img, .game-img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header-img{
    max-width: 28%;
    min-width: 350px;
}
.game-img {
    max-width: 150px;
    height: auto;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.trivia-img{
    max-width: 15%;;
}
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(214, 114, 173, 0.2);
}
th, td {
    border: 5px solid #FADADD;
    padding: 15px;
    text-align: center;
}
td{
    font-size: 2rem;
}
th {
    background-color: #FFB6C1;
    color: white;
    font-weight: 600;
}
table img{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
}
table img:hover{
    transform: scale(1.1);
    box-shadow: 0px 6px 10px #FFB6C1;
}
.social-button, .trivia-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
    overflow: hidden;
}
.social-button {
    width: 50px;
    height: 50px;
}
.social-button:hover, .trivia-button:hover {
    transform: scale(1.1) translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}
.social-button img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}
.trivia-button {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: #D672AD;
    text-decoration: none;
}
.trivia-button p {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.option {
    width: auto;
    height: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(214, 114, 173, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}
.option:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(214, 114, 173, 0.3);
}
.option img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-vertical {
    height: 100vh;
    width: 200px;
    background-color: #FFD1DC;
    position: fixed;
    padding-top: 100px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.nav-vertical a {
    color: #D672AD;
    padding: 20px 15px;
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-vertical a:hover {
    background-color: #D672AD;
    color: white;
}
.main-content {
    margin-left: 220px;
    padding: 20px;
}
.video-container {
    max-width: 1080px;
    margin: auto;
}
.video-container iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    nav a{
        padding: 5px;
    }
    .nav-vertical {
        position: static;
        width: 100%;
        height: auto;
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .nav-vertical a {
        padding: 10px 15px;
    }
    .main-content {
        margin-left: 0;
    }
}