body {
    margin: 0;
    color:white;
    font-optical-sizing: auto;
    background-color: #303030;
    font-family: "Lexend Deca", sans-serif;
}

.header {    
    top: 0;          
    left: 0;         
    width: 100%;     
    height: 75px;
    display: flex;
    z-index: 1000;   
    padding: 20px 0;
    position: fixed; 
    align-items: center;
    justify-content: center;
}

.navbar-capsule {
    gap: 2px; 
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #555;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
}

.navbar-capsule a {
    color: white;
    padding:  15px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.navbar-capsule a:hover {
    background-color: #777777;
}

.navbar-capsule a.active {
    font-weight: bold;
    background-color: #007bff;
}

.navbar-capsule img{
    height: 35px;
    display: none;
}

.main-content-container {
    gap: 25px;
    display: flex;
    padding: 25px 5%;
    margin-top: 90px;
    align-items: center; 
    flex-direction: column; 
}

.blog-column-left {
    width: 100%; 
    max-width: 600px;
    max-height: 50rem;
    flex-direction: grid; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.4fr 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "article1 article1 article2"
        "article1 article1 article2"
        "article3 article4 article5";
    
}

.contact-column-right {
    width: 100%; 
    max-width: 600px;
    height: fit-content;
    margin: 0; 
}

.blog_entry{
    padding: 10px;
    max-width: 100%;
    margin-bottom: 0;
    border-radius: 15px;
    background-color: #555;
}

.blog_entry h2{
    padding: 0.5%;
    border-radius: 10px;
    background-color: #838383;
} 

.blog_entry div {
    padding: 15px;
    margin-top: 10px;
    font-weight: 350;
    border-radius: 10px;
    background-color: #666666e0;
}

footer {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(77, 77, 77);
    margin-top: 25px;
}

.social-button {
    width: 50px;
    height: 50px;
    overflow: hidden; 
    border-radius: 50%;
    align-items: center;  
    display: inline-flex;  
    justify-content: center; 
    background-color: #ffffff;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.social-button:hover {
    transform: scale(1.1);
}

.social-button img {
    width: 60%;  
    height: 60%;
    object-fit: contain;
}

.entry_a{
    color: white;
}

.title{
    margin: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}

h1{
    margin: 0;
    padding: 0.2rem;
}

form {
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    max-width: 20rem;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    resize: vertical;
    min-height: 100px;
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: block; 
    margin: 10px auto;
}
button:hover {
    background-color: #0056b3;
}



@media (min-width: 1024px) {
    .main-content-container {
        flex-direction: row;
        align-items: flex-start;
        padding: 25px 5%; 
    }

    .blog-column-left {
        flex: 3;
        min-width: 600px;
        max-width: none;
    }

    .contact-column-right {
        flex: 1;
        min-width: 300px;
        max-width: none;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%; 
        max-width: 20rem;
    }
}


@media (max-width: 767px) {
    .navbar-capsule {
        flex-direction: row;
        width: 80%;
        text-align: center;
    }

    .navbar-capsule h1{
        display: none;
    }

    .navbar-capsule a {
        padding: 10px;
    }
    .navbar-capsule img{
        display: block;
    }

    .main-content-container {
        padding: 15px 3%;
    }

    .front_page_img_text {
        padding-left: 10px; 
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        bottom: 10px; 
        right: 10px;
    }

    .front_page_img_text h4 {
        display: none;
    }

}



    


.article1 {
    grid-area: article1;
    background-color: red;
}

.article2 { 
    grid-area: article2;
    background-color: green; 
}

.article3 { 
    grid-area: article3;
    background-color: blue; 
}

.article4 { 
    grid-area: article4;
    background-color: blueviolet; 
}

.article5 { 
    grid-area: article5;
    background-color: yellow; 
}

.front_page{
    position: relative;

}

.front_page{
    transition: transform 0.1s ease;
}
.front_page:hover {
    z-index: 10;
    box-shadow: 0px 0px 100px rgb(0, 0, 0);
    transform: scale(1.1);
}

.front_page_img_text {
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    width: fit-content;
    position: absolute;
    height: fit-content;
    padding-right: 20px;
    background-color: black;
}

