body {
    margin: 0;
    color:white;
    font-optical-sizing: auto;
    background-color: #303030;
    font-family: "Lexend Deca", sans-serif;

}

.header {    
    top: 0;          
    left: 0;         
    width: 100%;     
    height: 150px;
    display: flex;
    z-index: 1000;   
    padding: 20px 0;
    position: fixed; 
    align-items: center;
    justify-content: center;
}

.navbar-capsule {
    gap: 2px; 
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-capsule a {
    color: white;
    padding: 8px 15px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.navbar-capsule a:hover {
    background-color: #777777;
}

.navbar-capsule a.active {
    font-weight: bold;
    background-color: #007bff; /* Color para el enlace activo */
}

.blog_entry{
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 150px;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: #555;
}

.blog_entry h1{
    padding: 0.5%;
    border-radius: 10px;
    background-color: #838383;
} 


h1 {
    font-weight: 700;
    padding: 10px;
    margin-top: 0;
}
.blog_entry div {
    padding: 15px;
    margin-top: 10px;
    font-weight: 350;
    border-radius: 10px;
    background-color: #666666e0;
}

footer {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(77, 77, 77);
}

.social-button {
    width: 50px;
    height: 50px;
    overflow: hidden; 
    border-radius: 50%;
    align-items: center;  
    display: inline-flex;  
    justify-content: center; 
    background-color: #ffffff;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.social-button:hover {
    transform: scale(1.1);
}

.social-button img {
    width: 60%;  
    height: 60%;
    object-fit: contain;
}

img {
  display: block;
  position: relative;
  z-index: 1;
  margin: 20px auto;
  width: 25%;
  min-width: 144px;
  max-width: 1080px;
}

.entry_a{
    color: white;
}

.title{
    margin: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
}