.blog_entry {
    padding: 20px;
    max-width: 100%;
    border-radius: 15px;
    background-color: #555;
}

.blog_entry h2 {
    padding: 0.5%;
    padding-left: 5%;
    border-radius: 10px;
    background-color: #838383;
}

.blog_entry div {
    padding: 15px;
    margin-top: 10px;
    font-weight: 350;
    border-radius: 10px;
    background-color: #666666e0;
    text-align: center;
}

.blog_entry div p {
    text-align: left;
}

.blog_entry time {
    display: block;
    text-align: left;
    margin-bottom: 15px;
    color: #ccc;
}

@media (max-width: 767px) {
    .blog_entry {
    padding-left: 0px;
    padding-right: 0px;
    }
}