body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #181818;
    font-family: 'Poppins', sans-serif;
}

#enter-hexagon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 220px;
    height: 220px;
    background-color: #203053;
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in;
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
}

#start-text {
    color: #dddddd;
    font-size: 2rem;
    font-weight: 600;
    user-select: none;
}

#portfolio-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 1.5s ease-in-out;
    z-index: 1;
}

#portfolio-container iframe {
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    #enter-hexagon {
        width: 180px; 
        height: 180px;
    }

    #start-text {
        font-size: 1.5rem;
    }
}