body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #181818;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* --- CONTROLADOR DE VELOCIDAD --- */
    --rotation-speed: 1.5s; /* <--- ¡Cambia este valor para ajustar la velocidad! */
}

#animation-wrapper {
    position: relative;
    width: 220px;
    height: 220px;
    cursor: pointer;
    z-index: 2;
    transition: opacity 0.5s ease-in;
}

.hexagon, .shadow-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform var(--rotation-speed) cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.hexagon {
    background: #203053;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
}

.shadow-circle {
    background: #000;
    z-index: 1;
    filter: blur(25px);
    border-radius: 50%;
    opacity: 0.8;
}

#animation-wrapper.animate .hexagon {
    transform: translateY(-80px) rotate(-360deg);
}

#start-text {
    color: #dddddd;
    font-size: 2rem;
    font-weight: 600;
    user-select: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#portfolio-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 1.5s ease-in-out;
    z-index: 1;
}

#portfolio-container iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    #animation-wrapper {
        width: 180px;
        height: 180px;
    }

    #start-text {
        font-size: 1.5rem;
    }
}